h1 {
  font-weight:bold;
  color: green;
}

h2 {
  text-align: center;
  color: red;
  font-style: italic;
}

ul {
  background-color:black;
  padding:20px;
  color: white;
}
li {
  background-color:green;
}
p {
  font-family: cursive;
  font-size: 20px;
  line-height: 25px;
}

.button {
  background-color:grey;
  border:2px solid black;
}

#black-button {
  cursor:pointer;
  font-weight:bolder;
  color:black;
}
#black-button:hover {
  text-decoration: underline;
}

#white-button {
  cursor:pointer;
  color:white;
}
#white-button:hover {
  text-decoration: underline;
}

.bg-black {
  background-color: black;
  color:white;
}

.bg-white {
  background-color: white;
  color:black;
}
